/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* general */

html {
  scroll-behavior: smooth;
}
body {
  font: 1.5rem, "Nunito", "sans-serif";
  color: #333;
  background-color: royalblue;
  display: flex;
  flex-flow: column nowrap;
  height: 1000px;
}

main {
  display: block;
  margin-top: 10vh;
}

/* header_styling */
header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  z-index: 10;
}

.menuList {
  width: 100vw;
  background: linear-gradient(
    109.6deg,
    rgb(144, 185, 212) 15.2%,
    rgb(36, 44, 165) 91.1%
  );
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
}

.menuList li {
  white-space: nowrap;
}

.menuList li img {
  border-radius: 150px;
  margin-top: 5px;
  max-width: 100%;
  height: auto;
}
.menuList li:first-child {
  border: none;
}
.menuList li a {
  text-decoration: none;
  color: #4b3e3e;
  font-size: 0.6rem;
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: normal;
  display: block;
  font-weight: bold;
}

.menuList li:hover {
  transform: scale(1.2);
}

.menuList li:first-child:hover,
.menuList li:first-child:focus-within {
  transform: none;
}

.menuList li select {
  color: #7a4f4f;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-indent: 1px;
  text-overflow: "";
  width: 5vw;
  height: 2.5vh;
  background-color: rgb(163, 174, 192);
  border-radius: 3px;
  outline: none;
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.5rem;
}

.menuList li select option {
  background-color: rgb(53, 148, 148);
  color: #7a4f4f;
}

.firstBiography {
  padding: 20px;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: papayawhip;
}
.secondBiography {
  padding: 20px;
}

/* biography */

.biographyImg1 {
  border-radius: 3px;
  margin-right: 10px;
  margin-left: 5px;
  float: left;
}
.biographyImg2 {
  border-radius: 3px;
  margin-right: 5px;
  margin-left: 10px;
  float: right;
}
.biographyP1 {
  margin-right: 5px;
  margin-left: 5px;
  text-align: justify;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
}

.biographyP2 {
  margin-right: 5px;
  margin-left: 5px;
  text-align: justify;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
}

.biographyTitle {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  font-size: 2rem;
}

/* services */

.servicesTitle {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  font-size: 2rem;
}

.nosServices {
  padding: 10px;
}

.nosServices p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.3rem;
}

.nosServices h2 {
  color: #7a4f4f;
}

/* responsive_design */

/* small */

@media screen and (min-width: 482px) {
  .menuList {
    justify-content: space-around;
  }

  .menuList li select {
    width: 5vw;
    height: 4vh;
    font-size: 1rem;
  }

  .menuList li a {
    font-size: 1rem;
    font-weight: bold;
  }

  .menuList li img {
    width: 13vw;
    height: auto;
  }
  .menuList li:hover {
    transform: scale(1.1);
  }
  main {
    margin-top: 15vh;
  }
  header {
    height: 12vh;
  }
  .headerImg {
    width: 10vh;
    height: auto;
  }
  .secondBiography {
    margin-top: 1rem;
  }
  .biographyP1 {
    font-size: 1.5rem;
  }
  .biographyP2 {
    font-size: 1.5rem;
  }
  .biographyTitle {
    font-size: 3rem;
    margin-bottom: 30px;
  }
}

/* medium */
@media screen and (min-width: 768px) {
  .menuList li a {
    font-size: 1.5rem;
    font-weight: normal;
  }
  .menuList li select {
    width: 4vw;
    height: 4vh;
    font-size: 1rem;
  }
  .menuList li img {
    width: 10vw;
    height: auto;
  }
  main {
    margin-top: 14vh;
  }
  .biographyImg1 {
    width: 200px;
    height: auto;
    margin-right: 15px;
  }
  .biographyImg2 {
    width: 200px;
    height: auto;
    margin-left: 15px;
  }
  .biographyTitle {
    font-size: 4rem;
    margin-bottom: 30px;
  }
  .biographyP1 {
    font-size: 2rem;
  }
  .biographyP2 {
    font-size: 2rem;
  }
}

/* large */
@media screen and (min-width: 1024px) {
  .menuList li a {
    font-size: 1.5rem;
  }
  .menuList li select {
    width: 3vw;
    height: 4vh;
    font-size: 1rem;
  }
  main {
    margin-top: 13vh;
  }
  .biographyImg1 {
    width: 250px;
    height: auto;
    margin-right: 20px;
  }
  .biographyImg2 {
    width: 250px;
    height: auto;
    margin-left: 20px;
  }
  .biographyP1 {
    font-size: 2.2rem;
  }
  .biographyP2 {
    font-size: 2.2rem;
  }
  .biographyTitle {
    font-size: 5rem;
    margin-bottom: 30px;
  }
}

/* xlarge  */
@media screen and (min-width: 1200px) {
  .menuList li a {
    font-size: 2rem;
  }
  .menuList li select {
    width: 3vw;
    height: 5vh;
    font-size: 1.2rem;
  }
  main {
    margin-top: 20vh;
  }
  .biographyImg1 {
    width: 300px;
    height: auto;
    border-radius: 10px;
  }
  .biographyImg2 {
    width: 300px;
    height: auto;
    border-radius: 10px;
  }
  .secondBiography {
    margin-top: 5rem;
  }
  .biographyTitle {
    font-size: 5rem;
    margin-bottom: 30px;
  }
  .biographyP1 {
    font-size: 2.5rem;
  }
  .biographyP2 {
    font-size: 2.5rem;
  }
}

/* mobile device landscape  */
@media screen and (max-height: 425px) and (min-aspect-ratio: 7/4) {
  .menuList li select {
    width: 5vw;
    height: 7vh;
    font-size: 1.2rem;
  }
  main {
    margin-top: 30vh;
  }
}
