/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* general */

html {
  scroll-behavior: smooth;
}
body {
  font: 1.5rem, "Nunito", "sans-serif";
  color: #333;
  background-color: royalblue;
  display: flex;
  flex-flow: column nowrap;
  height: 1000px;
}

main {
  display: block;
  margin-top: 10vh;
}

/* header_styling */
header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: row nowrap;
  min-width: 100%;
  z-index: 10;
}

.menuList {
  width: 100vw;
  background: linear-gradient(
    109.6deg,
    rgb(144, 185, 212) 15.2%,
    rgb(36, 44, 165) 91.1%
  );
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
}

.menuList li {
  white-space: nowrap;
}

.menuList li img {
  border-radius: 150px;
  margin-top: 5px;
  max-width: 100%;
  height: auto;
}
.menuList li:first-child {
  border: none;
}
.menuList li a {
  display: block;
  font-size: 0.6rem;
  text-decoration: none;
  color: #4b3e3e;
  font-family: "Arvo", serif;
  font-weight: bold;
  font-style: normal;
}

.menuList li:active {
  transform: scale(1.2);
}

.menuList li:first-child:hover,
.menuList li:first-child:focus-within {
  transform: none;
}

.menuList li select {
  color: #7a4f4f;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-indent: 1px;
  text-overflow: "";
  width: 5vw;
  height: 2.5vh;
  background-color: rgb(163, 174, 192);
  border-radius: 3px;
  outline: none;
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.5rem;
  text-align: center;
}

.menuList li select option {
  background-color: rgb(53, 148, 148);
  color: #7a4f4f;
  text-align: center;
}

.firstBiography {
  padding: 20px;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: papayawhip;
}
.secondBiography {
  padding: 20px;
}

/* biography_styling */

.biographyImg1 {
  border-radius: 3px;
  margin-right: 10px;
  margin-left: 5px;
  float: left;
}
.biographyImg2 {
  border-radius: 3px;
  margin-right: 5px;
  margin-left: 10px;
  float: right;
}
.biographyP1 {
  margin-right: 5px;
  margin-left: 5px;
  text-align: justify;
  /* word-spacing: ; */
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
}

.biographyP2 {
  margin-right: 5px;
  margin-left: 5px;
  text-align: justify;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
}

.articlesPub {
  padding: 10px;
}

.articlesPub .articlePubTitle {
  color: rgb(145, 76, 76);
  margin-bottom: 15px;
  font-size: 1.4rem;
}

.articlesPub .listeArticles {
  list-style-type: none;
}

.articlesPub ul li {
  color: rgb(100, 37, 16);
  font-weight: bold;
  margin-bottom: 0.3rem;
  margin-left: 10px;
  font-size: 1.2rem;
}

.articlesPub .listeArticles p {
  margin-bottom: 5px;
  margin-left: 20px;
}

.biographyTitle {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  font-size: 2rem;
}

/* services_styling*/

.servicesTitle {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  font-size: 2rem;
}

.nosServices {
  padding: 20px;
}

.nosServices p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: justify;

  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
}

.nosServices h2 {
  margin-top: 5px;
  color: #7a4f4f;
}

/* contacts_styling */

.contactsTitle {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  font-size: 2rem;
}

.contactContainer {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 20px;
  /*   display: grid;
  grid-template-columns: 1fr 1fr; */
}

.MrConatcts {
  /*   border-right: solid 2px rgb(105, 98, 98); */
  text-align: center;
}
.MrsConatact {
  text-align: center;
}

.infoContainer {
  display: flex;
  flex-flow: column nowrap;
  padding: 10px;
}

.infoContainer p {
  margin-bottom: 5px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.contactPart a {
  text-decoration: none;
  color: rgb(117, 80, 32);
}

.contactPart .fbLink {
  color: rgb(33, 54, 14);
}

/* footer_styling */

footer {
  /*  background: linear-gradient(
    109.6deg,
    rgb(36, 44, 165) 15.2%,
    rgb(144, 185, 212) 91.1%
  ); */

  background-color: #a59191;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerContainer {
  padding: 10px;
}

.footerContainer a {
  text-decoration: none;
  color: #a03b3b;
}

.footerContainer p {
  font-size: 0.9rem;
  margin-bottom: 5px;
  font-weight: bolder;
  font-family: "Courier New", Courier, monospace;
}
/* responsive_design */
/* exception */
@media screen and (min-width: 370px) {
  .menuList li a {
    font-size: 0.8rem;
    font-weight: bold;
  }
}

/* small */

@media screen and (min-width: 482px) {
  .menuList {
    justify-content: space-around;
  }

  .menuList li select {
    width: 5vw;
    height: 4vh;
    font-size: 1rem;
  }

  .menuList li a {
    font-size: 1rem;
    font-weight: bold;
  }

  .menuList li img {
    width: 13vw;
    height: auto;
  }
  .menuList li:hover {
    transform: scale(1.1);
  }
  main {
    margin-top: 15vh;
  }
  header {
    height: 12vh;
  }
  .headerImg {
    width: 10vh;
    height: auto;
  }
  .secondBiography {
    margin-top: 1rem;
  }
  .biographyP1 {
    font-size: 1.5rem;
  }
  .biographyP2 {
    font-size: 1.5rem;
  }
  .biographyTitle {
    font-size: 3rem;
    margin-bottom: 30px;
  }
  .servicesTitle {
    font-size: 3rem;
  }

  .nosServices h2 {
    font-size: 2rem;
  }
  .nosServices p {
    font-size: 1.5rem;
  }
  .menuList ul li:nth-child(2) {
    margin-right: 40 px;
  }
  .articlesPub .articlePubTitle {
    margin-bottom: 15px;
    font-size: 1.5rem;
  }
  .articlesPub ul li {
    margin-bottom: 0.3rem;
    margin-left: 10px;
    font-size: 1.4rem;
  }

  .articlesPub .listeArticles p {
    font-size: 1.3rem;
    margin-bottom: 5px;
    margin-left: 20px;
  }
  .contactContainer {
    display: flex;
    flex-flow: column nowrap;
    /*   display: grid;
    grid-template-columns: 1fr 1fr; */
  }

  .MrConatcts {
    /*   border-right: solid 2px rgb(105, 98, 98); */
    text-align: center;
  }

  .contactContainer h3 {
    font-size: 1.5rem;
  }

  .infoContainer p {
    font-size: 1.1rem;
  }
  .contactsTitle {
    font-size: 3rem;
  }
}

/* medium */
@media screen and (min-width: 768px) {
  .menuList li a {
    font-size: 1.6rem;
    font-weight: 525;
  }
  .menuList li select {
    width: 4vw;
    height: 4vh;
    font-size: 1rem;
  }
  .menuList li img {
    width: 10vw;
    height: auto;
  }
  main {
    margin-top: 14vh;
  }
  .biographyImg1 {
    width: 200px;
    height: auto;
    margin-right: 15px;
  }
  .biographyImg2 {
    width: 200px;
    height: auto;
    margin-left: 15px;
  }
  .biographyTitle {
    font-size: 4rem;
    margin-bottom: 30px;
  }
  .biographyP1 {
    font-size: 2rem;
  }
  .biographyP2 {
    font-size: 2rem;
  }
  .servicesTitle {
    font-size: 4rem;
  }

  .nosServices h2 {
    font-size: 2.5rem;
  }
  .nosServices p {
    font-size: 2rem;
  }
  .articlesPub .articlePubTitle {
    margin-bottom: 15px;
    font-size: 1.7rem;
  }
  .articlesPub ul li {
    margin-bottom: 0.3rem;
    margin-left: 10px;
    font-size: 1.6rem;
  }

  .articlesPub .listeArticles p {
    font-size: 1.5rem;
    margin-bottom: 5px;
    margin-left: 20px;
  }
  .contactContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .MrConatcts {
    border-right: solid 2px rgb(105, 98, 98);
    text-align: center;
  }
  .contactContainer h3 {
    font-size: 1.7rem;
  }

  .infoContainer p {
    font-size: 1.3rem;
  }
  .contactsTitle {
    font-size: 4rem;
  }
}

/* large */
@media screen and (min-width: 1024px) {
  .menuList li a {
    font-size: 2.2rem;
  }
  .menuList li select {
    width: 3vw;
    height: 4vh;
    font-size: 1rem;
  }
  main {
    margin-top: 13vh;
  }
  .biographyImg1 {
    width: 250px;
    height: auto;
    margin-right: 20px;
  }
  .biographyImg2 {
    width: 250px;
    height: auto;
    margin-left: 20px;
  }
  .biographyP1 {
    font-size: 2.2rem;
  }
  .biographyP2 {
    font-size: 2.2rem;
  }
  .biographyTitle {
    font-size: 5rem;
    margin-bottom: 30px;
  }
  .servicesTitle {
    font-size: 5rem;
  }

  .nosServices h2 {
    font-size: 3rem;
  }
  .nosServices p {
    font-size: 2.2rem;
  }
  .articlesPub .articlePubTitle {
    margin-bottom: 15px;
    font-size: 1.9rem;
  }
  .articlesPub ul li {
    margin-bottom: 0.3rem;
    margin-left: 10px;
    font-size: 1.8rem;
  }

  .articlesPub .listeArticles p {
    font-size: 1.7rem;
    margin-bottom: 5px;
    margin-left: 20px;
  }
  .contactContainer h3 {
    font-size: 1.9rem;
  }

  .infoContainer p {
    font-size: 1.5rem;
  }
  .contactsTitle {
    font-size: 5rem;
  }
}

/* xlarge  */
@media screen and (min-width: 1200px) {
  .menuList li a {
    font-size: 2rem;
  }
  .menuList li select {
    width: 3vw;
    height: 5vh;
    font-size: 1.2rem;
  }
  main {
    margin-top: 20vh;
  }
  .biographyImg1 {
    width: 300px;
    height: auto;
    border-radius: 10px;
  }
  .biographyImg2 {
    width: 300px;
    height: auto;
    border-radius: 10px;
  }
  .secondBiography {
    margin-top: 5rem;
  }
  .biographyTitle {
    font-size: 5rem;
    margin-bottom: 30px;
  }
  .biographyP1 {
    font-size: 2.5rem;
  }
  .biographyP2 {
    font-size: 2.5rem;
  }
  .servicesTitle {
    font-size: 5rem;
  }

  .nosServices h2 {
    font-size: 3.5rem;
  }
  .nosServices p {
    font-size: 2.5rem;
  }
  .articlesPub .articlePubTitle {
    margin-bottom: 15px;
    font-size: 2rem;
  }
  .articlesPub ul li {
    margin-bottom: 0.3rem;
    margin-left: 10px;
    font-size: 1.9rem;
  }

  .articlesPub .listeArticles p {
    font-size: 1.8rem;
    margin-bottom: 5px;
    margin-left: 20px;
  }
  .contactContainer h3 {
    font-size: 2.1rem;
  }

  .infoContainer p {
    font-size: 1.7rem;
  }
  .contactsTitle {
    font-size: 5rem;
  }
}

/* mobile device landscape  */
@media screen and (max-height: 425px) and (min-aspect-ratio: 7/4) {
  .menuList li select {
    width: 5vw;
    height: 7vh;
    font-size: 1.2rem;
  }
  main {
    margin-top: 30vh;
  }
}
